<div class="container">
  <div class="projects">
    <div class="projects-text">
      <div class="gringo">
        <h3>Grin.go</h3>
        <p>Plataforma de conexão entre viajantes e locais</p>
      </div>
      <div id="carousel-projects" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "home.png", class: "carousel-img"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "services.png", class: "carousel-img"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "guides.png", class: "carousel-img"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "about_1.png", class: "carousel-img"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "about_2.png", class: "carousel-img"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "about_3.png", class: "carousel-img"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "login.png", class: "carousel-img"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "find.png", class: "carousel-img"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
