<div class="container">
  <div class="projects">
    <%# -----------DIV PROJECT GRINGO INIT----------%>
    <div class="projects-gringo" data-aos="fade-left" data-aos-duration="500" data-controller="project">
      <div class="projects-text">
        <h3>Grin.go</h3>
        <p>Connection platform between travelers and locals</p>
        <p>Grin.go is our final project for the course and the most challenging one. Within this project, we worked with JS, Rails, Ruby, CSS, WebSocket, and MVC. The platform was deployed on Heroku, and the entire front-end layout was created using Figma. We developed a real-time chat where two individuals could converse and plan trips. The platform's idea is to connect travelers with locals, providing an enhanced experience for both the traveler and the host.</p>
        <%= link_to "Click here to see the code", "https://github.com/victorgqueiroz/Grin.go", class: "links" %>
      </div>
      <div id="carousel-projects" class="carousel slide col" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "home.png", class: "carousel-img"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "services.png", class: "carousel-img"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "guides.png", class: "carousel-img"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "about_1.png", class: "carousel-img"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "about_2.png", class: "carousel-img"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "about_3.png", class: "carousel-img"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "login.png", class: "carousel-img"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "find.png", class: "carousel-img"%>
          </div>
        </div>
      </div>
    </div>
    <%# -----------DIV PROJECT GRINGO END----------%>
    <%# ---------------------------------------------%>
    <%# -----------DIV PROJECT ROASTHUB INIT----------%>
    <div class="projects-roast" data-aos="fade-left" data-aos-duration="500" data-aos-delay="1" data-controller="project">
      <div class="projects-text">
        <h3>RoastHub</h3>
        <p>A Hub for specialty coffee sales</p>
        <p>RoastHub is designed for coffee enthusiasts who never seem to find a platform that truly provides all the information they seek. Here, we strive to bring everything specialty coffee has to offer closer to the consumer. The platform was developed using JS, CSS, Ruby, and Rails. We also employed MVC for the construction process. The entire front-end was previously designed in Figma.</p>
        <%= link_to "Click here to see the code", "https://github.com/victorgqueiroz/RoastHub", class: "links" %>
      </div>
      <div id="carousel-projects" class="carousel slide col" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "home_roast.png", class: "carousel-img"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "search_roast.png", class: "carousel-img"%>
          </div>
        </div>
      </div>
    </div>
    <%# -----------DIV PROJECT ROASTHUB END----------%>
  </div>
</div>
