<div id="intro"><%= render "pages/intro" %></div>
<div id="navbar"><%= render "shared/navbar" %></div>
<div id="formation"><%= render "pages/formation" %></div>
<div id="carrer"><%= render "pages/carrer" %></div>
<div id="projects"><%= render "pages/projects" %></div>
